
.vs/SDLGameEngine/v15/.suo
*.db
*.ipch
*.obj
*.tlog
*.log
.vs/SDLGameEngine/v15/Browse.VC.opendb
Debug/SDLGameEngine.exe
Debug/SDLGameEngine.ilk
Debug/SDLGameEngine.pdb
SDLGameEngine/Debug/vc141.idb
SDLGameEngine/Debug/vc141.pdb
